* {
    box-sizing: border-box;
  }
  
  .Section2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(222, 222, 222);
  }
  
  .Section2_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 17px;
  }
  
  .Section2_card.border-right {
    border-right: 1px solid rgb(222, 222, 222);
  }
  
  .Section2_card img {
    width: 35px;
    height: 40px;
  }
  
  .Section2_card_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .Section2_card_text h4 {
    margin: 0;
    font-size: 18px;
  }
  
  .Section2_card_text p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
  }
  
  @media (max-width: 768px) {
    .Section2 {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .Section2_card {
      width: 100%;
      padding: 10px 0;
    }
  
    .Section2_card.border-right {
      border-right: none;
      border-bottom: 1px solid rgb(222, 222, 222);
    }
  
    .Section2_card img {
      width: 20px;
      height: 20px;
    }
  
    .Section2_card_text h4 {
      font-size: 16px;
    }
  
    .Section2_card_text p {
      font-size: 12px;
    }
  }
  